@charset "utf-8";
html,body{
  margin:0;
  font-family:"맑은 고딕";
  font-size:16px;
  background-color:#ffffff;
  color:#333333;
}
a{
  text-decoration: none;
  color:#000000;
}
a:hover{
  color:#666666;
}
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

/* 헤더 */
header{
  width:1200px;
  height:100px;
  /* background-color:#eee; 변경 또는 삭제 */
  margin:auto;
  /* 자손 배치 속성 */
  display:flex;
}

/* 헤더 추가 와이어프레임 */
h1{
  width:200px;
  height:100%;
  /* background-color:#eee; 변경 또는 삭제 */
  /* 자손 배치(가로,세로 가운데) */
  display:flex;
  justify-content: center;
  align-items: center;
}
/* 로고 완성 */
h1 img{
  width:100%;
}
nav{
  width:1000px;
  height:100%;
  background-color:#bbb;
}

/*네비 완성 css*/
.gnb{
  width:600px;
  height:50px;
  background-color:pink;
  float:right;
  margin-right:20px;
  margin-top:25px;
  list-style:none;
  display:flex;
  position:relative;
}
.gnb>li{
  width:25%;
  height:100%;
}
.gnb>li>a{
  display:flex;
  width:100%;
  height:100%;
  justify-content: center;
  align-items:center;
  font-size:20px;
  font-weight:bold;
}
.gnb>li:hover>a{
  background-color:darkred;
  color:white;
}
.drop{
  position:absolute;
  width:100%;
  background-color:rgb(250, 217, 222);
  list-style:none;
  display:flex;
  left:0;
  height:0;
  overflow:hidden;
  transition:0.5s;
  z-index:90;
}
.drop>li{
  width:25%;
  height:0;
  overflow:hidden;
  transition:0.5s;
  transition-delay:0.2s;
}
.drop>li>a{
  display:flex;
  width:100%;
  height:30px;
  justify-content: center;
  align-items: center;
}
.drop>li>a:hover{
  background-color:darkred;
  color:white;
}
.gnb>li:hover .drop{
  height:120px;
}
.gnb>li:hover .drop>li{
  height:120px;
}

/* 콘텐츠 section */
#section{
  width:1200px;
  height:500px;
  /* background-color:#ddd; 변경 또는 삭제*/
  margin:auto;
}

/* 콘텐츠 슬라이더 그룹, 공지,갤러리,배너, 바로가기 와이어 css */
.slider-wrap{
  width:100%;
  height:300px;
  /* background-color:#ddd; 변경 또는 삭제*/
  position:relative;
  overflow:hidden;
}
.sliders{
  width:3600px;
  height:100%;
  position:relative;
  background-color:#ddd;
  list-style:none;
}
.sliders>li{
  width:1200px;
  height:100%;
  overflow:hidden;
  position:relative;
  float:left;
}
.sliders>li>a{
  display:block;
  width:100%;
}
.sliders>li>a img{
  width:100%;
}
.slide-text{
  width:50%;
  height:100px;
  background-color:rgba(0,0,0,0.5);
  color:white;
  font-size:30px;
  position:absolute;
  left:25%;
  top:100px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.n-g-b-s{
  width:100%;
  height:200px;
  /* background-color:#aaa; 변경 또는 삭제*/
  display:flex;
}
.n-g-b-s>div{
  width:400px;
  height:100%;
  /* border:1px solid black; */
  padding:10px;
}

/* 공지사항 갤러리 css */
.tabs{
  list-style:none;
  width:180px;
  /* border:1px solid black; */
  display:flex;
  margin-left:20px;
  position:relative;
  z-index:11;
}
.tabs>li{
  width:50%;
}
.tabs>li>a{
  display:flex;
  justify-content: center;
  align-items:center;
  width:100%;
  border:1px solid black;
}
.tabs>li:last-child>a{
  border-left:none;
}
.tabs>li>a.active{
  background-color:#eee;
  border-bottom:1px solid white;;
}
.tab-content{
  width:100%;
  height:150px;
  border:1px solid black;
  background-color:white;
  position:relative;
  z-index:10;
  list-style:none;
  margin-top:-1px;
}
.tab-content ul{
  list-style:none;
  width:100%;
  height:100%;
}
.tab-content ul>li{
  width:100%;
  height:37px;
  border-bottom:1px dashed #eee;
}
.tab-content ul>li>a{
  display:flex;
  width:100%;
  height:100%;
  justify-content: space-between;
  align-items:center;
  padding:0 10px;
}
.tab-content ul>li:nth-child(even){
  background-color:#ddd;
}
.gallery{
  display:flex;
  justify-content: space-around;
  align-items:center;
}
.gallery>a{
  display:block;
  width:25%;

}
.gallery>a>img{
  width:100%;
}
.tab-content{
  display:none;
}
.notic{
  display:block;
}
/* 모달 팝업 */
.modal-wrap{
  width:500px;
  height:400px;
  border:1px solid black;
  background-color:white;
  position:absolute;
  z-index:99;
  left:50%;
  top:150px;
  transform:translate(-50%, 0);
  display:none;
}
.modal-body{
  width:100%;
  height:100%;
  padding:10px;
}
.modal-body h2{
  margin:10px 0;
  background-color:lightcyan;
  padding:10px;
}
.modal-body p{
  line-height:200%;
}
.modal-close{
  position:absolute;
  bottom:20px;
  right:20px;
  padding:0 10px;
}
/* 배너 css */
.banner,
.short-cut{
  position:relative;
}
.banner a, .short-cut a{
  display:block;
  width:100%;
  height:100%;
  overflow:hidden;
}
.banner a img, 
.short-cut a img{
  width:100%;
}
.title{
  position:absolute;
  width:50%;
  height:50px;
  left:25%;
  top:70px;
  background-color:rgba(0,0,0,0.5);
  color:white;
  display:flex;
  justify-content: center;
  align-items:center;
}
.banner a:hover,
.short-cut a:hover{
  opacity:0.7;
}
/* 푸터 */
footer{
  width:1200px;
  height:100px;
  /* background-color:#ccc; 변경 또는 삭제*/
  margin:auto;
  /* 자손 배치 속성 */
  display:flex;
}
footer h2{
  width:200px;
  height:100%;
  /* background-color:#ccc; 변경 또는 삭제 */
}
/* 푸터로고 css */
footer h2 a{
  display:flex;
  width:100%;
  height:100%;
  justify-content: center;
  align-items:center;
}
footer h2 img{
  width:100%;
}
.copy{
  width:800px;
  height:100%;
  /* background-color:#aaa; */
  /* 추가 */
  display:flex;
  justify-content: center;
  align-items:center;
}
.sns{
  width:200px;
  height:100%;
  /* background-color:#ccc; 변경 또는 수정*/
  display:flex;
  justify-content: space-around;
  align-items:center;
}
.sns a{
  display:inline-block;
  width:20%;
}
.sns a img{
  width:100%;
}