@charset "utf-8";
html,body{
  margin:0;
  font-family:"맑은 고딕";
  font-size:16px;
  background-color:#ffffff;
  color:#333333;
}
a{
  text-decoration: none;
  color:#000000;
}
a:hover{
  color:#666666;
}
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

/* 헤더 */
header{
  width:1200px;
  height:100px;
  background-color:#eee;
  margin:auto;
}

/* 콘텐츠 section */
#section{
  width:1200px;
  height:500px;
  background-color:#ddd;
  margin:auto;
}

/* 푸터 */
footer{
  width:1200px;
  height:100px;
  background-color:#ccc;
  margin:auto;
}